$default-color: #202428;
$default-color-dark: rgba(255, 255, 255, 0.88);
$bg-color: #f7f1f5;
$link-color: #ff6588;
$nav-head: #fff;
$nav-head-dark: #18191a;

html {
  background-color: $bg-color;
  color: $default-color;
}

a {
  color: $link-color;
  transition: all 0.5s ease;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
    transition: 0.5s;
  }
}

td,
th {
  font-size: 0.9rem;
}

body {
  --bg: $bg-color;
  --textNormal: #202428;
  --textTitle: #202428;
  --textLink: $link-color;
  --hr: hsla(0, 0%, 0%, 0.4);
  --navHead: #fff;
  --navHeadBorder: #e7e7e7;
  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #18191a;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: rgba(255, 255, 255, 0.88);
  --textLink: $link-color;
  --hr: hsla(0, 0%, 100%, 0.2);
  --navHead: #272a2c;
  --navHeadBorder: #7b3648;
}

.navbar {
  background-color: var(--navHead);
  height: 50px;
  border-bottom: 1px solid var(--navHeadBorder);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%

  &__title {
    display: block;
  }

  &__img {
    display: inline-block;
    line-height: 50px;
  }

  &__titletext {
    display: inline-block;
    line-height: 50px;
    font-weight: 700;
  }

  &__ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  &__li {
    display: inline-block;
    list-style: none;
    line-height: 50px;
    margin: 0 5px;

    & a {
      color: $link-color;
      transition: all 0.5s ease;
      text-decoration: none;
      font-size: 0.9rem;
      font-weight: 400;

      &:hover {
        opacity: 0.8;
        transition: 0.5s;
      }
    }
  }
}
