@import "./global.scss";

.tag {
  display: flex;
  flex-wrap: wrap;

  &__list {
    padding-left: 0;
    padding-right: 1em;
    padding-top: .25em;
    padding-bottom: .25m;
    margin: 0;
    text-decoration: none;
    border-radius: 3px;
    font-size: 0.8em;
  }
}