@import './global.scss';

.tag {
  display: flex;
  flex-wrap: wrap;

  &__list {
    display: flex;
    align-items: center;
    background-color: #eee;
    padding: 4px 8px;
    border-radius: 4px;
    margin-bottom: 4px;
    margin-top: 2px;
    margin-right: 4px;
    font-size: 0.8em;
  }

  &__listindex {
    font-size: 1em;
    padding-left: 0.5rem;
  }
}
