@import './global.scss';

.right-toc {
  height: 80%;
}

.toc {
  background-color: transparent;
  padding-top: 50px;
  padding-left: 28px;
  position: sticky;
  position: -webkit-sticky;
  overflow-y: auto;
  top: 20px;

  &__title {
    color: var(--textNormal);
    margin: 0;
    margin-bottom: 10px;
  }
  &__content {
    & ul {
      margin-left: 0;

      & li {
        font-size: 0.8em;
        margin: 4px 0;
        list-style-type: none;

        & a {
          box-shadow: none;
          color: var(--textNormal);
        }
      }
    }
  }
}
