@import '../styles/global.scss';

header {
  padding-bottom: 1em;
}

@media screen and (min-width: 1025px) {
  .flexbox {
    -webkit-display: flex;
    display: flex;
    flex-wrap: nowrap;
  }
  .main {
    margin: 0 16px 0 0;
    min-width: 820px;
    -webkit-flex: 7;
    flex: 7;
  }
  .side {
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    max-width: 160px;
  }
}

@media screen and (max-width: 480px) {
  .flexbox {
    -webkit-display: flex;
    display: flex;
    flex-wrap: wrap;
  }
  .main {
    margin: 0;
    -webkit-flex: 10;
    flex: 10;
  }
  .side {
    display: none;
  }
}

.postdate {
  font-size: 0.8rem;
  font-weight: 400;
  padding-top: 1em;
  padding-bottom: 0.3em;
}

.posttitle {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.pagetitle {
  margin-top: 0.5em;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: none;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 2rem;
}

.ggbimg {
  animation: App-logo-spin 20s linear infinite;
  opacity: 0.7;
  height: 32px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.5em;
  pointer-events: none;
  vertical-align: middle;
}
