@import '../styles/global.scss';

header {
  padding-bottom: 1em;
}

@media screen and (min-width: 960px) {
  .flexbox {
    -webkit-display: flex;
    display: flex;
  }
  .main {
    margin: 0 16px 0 0;
    -webkit-flex: 7;
    flex: 7;
  }
  .side {
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    max-width: 150px;
  }
}

.postdate {
  font-size: 0.8rem;
  font-weight: 400;
}

.posttitle {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.pagetitle {
  margin-top: 0.5em;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: none;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 2rem;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  height: 50px;
  border-bottom: 1px solid #d6d6d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 200;

  &__ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  &__li {
    display: inline-block;
    list-style: none;
    line-height: 50px;
    margin: 0 5px;

    & a {
      color: $link-color;
      transition: all 0.5s ease;
      text-decoration: none;
      font-size: 0.9rem;
      font-weight: 400;

      &:hover {
        opacity: 0.8;
        transition: 0.5s;
      }
    }
  }
}
